<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rs_m90e7">
    <xacro:arg name="prefix" default="" />

    <!-- ========================================= -->
    <!-- include macro from xacro files -->
    <!-- ========================================= -->
    <xacro:include filename="$(find rs_m90e7_description)/urdf/rs_m90e7/rs_m90e7_macro.xacro"/>

    <xacro:rs_m90e7 prefix="" parent="">
        <!-- position robot in the world -->
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:rs_m90e7>
    <!-- ========================================= -->

</robot>