<launch>
  <node 
    name="joint_state_publisher_gui" 
    pkg="joint_state_publisher_gui" 
    exec="joint_state_publisher_gui"/>

  <node 
    name="robot_state_publisher" 
    pkg="robot_state_publisher" 
    exec="robot_state_publisher"
    args="$(find-pkg-share rs_m90e7_description)/urdf/rs_m90e7_description.urdf"/>  
  
  <!-- <node name="rviz2" pkg="rviz2" exec="rviz2" args="-d $(find rs_m90e7_description)/urdf.rviz" /> --> 

</launch>